{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "window": true,
    "Promise": true
  },
  "rules": {
    "import/extensions": 0,
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    "generator-star-spacing": 0,
    "react/jsx-filename-extension": 0,
    "no-shadow": 0,
    "jsx-a11y/href-no-hash": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "no-use-before-define": 0,
    "no-mixed-operators": 0,
  }
}
