.Button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;

  font-size: 2.4rem;

  height: 90px;
  padding: 0 70px;

  text-transform: uppercase;
  letter-spacing: 1px;

  color: #FFF;
  background-color: #FF008F;
  border: 0;
}
